.navbar{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    height: 20px;
    margin: -9px;
}
li{
    -webkit-text-fill-color: rgb(249, 249, 249);
    list-style-type: none;
}
a{
    text-decoration: none;
}
.outer{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items:center ;
}
.inner{
    height: 50px;
    width: 50px;
    background-color: rgb(2, 3, 3);

}
/* media quires */
@media (max-width:200px){
   
}